<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passwordauthentication2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignUpOptionsActivity"
            android:parentActivityName=".LoginOptionsActivity"
            />
        <activity
            android:name=".LoginOptionsActivity"
            />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".ViewProfileActivity"
            />
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/label_profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpEPActivity"
            android:label="@string/label_sign_up"
            android:parentActivityName=".SignUpOptionsActivity"
            />
        <activity
            android:name=".LoginEPActivity"
            android:label="@string/label_login"
            />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>